<html lang="en">
  <head>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script>
     window.onload = function(){
       d3.json("https://cdn.rawgit.com/datasets/geo-boundaries-world-110m/master/countries.geojson", function(error, world){
         d3.csv("https://dl.dropboxusercontent.com/u/47978121/gdp.csv", function(error, gdp){
           var projection = d3.geo.mercator().center([13, 60.3]).scale(300);
           var graticule = d3.geo.graticule();
           var path = d3.geo.path().projection(projection);

           var data = _.reduce(_.select(gdp, function(row){
             return row['Year'] == '2011';
           }), function(memo, row){
             memo[row['Country or Area']] = parseFloat(row['Value']);
             return memo;
           }, {});

           // color: "#f7fbff", "#08306b"

           d3.select(".plot")
             .append("g")
             .attr("class", "map")
             .selectAll("path")
             .data(world.features)
             .enter()
             .append("path")
             .attr({
               "d": path,
               "stroke": "#000",
               "stroke-width": 0.5,
               "fill": "#0f0"
             });

           d3.select(".map")
             .append("path")
             .datum(graticule)
             .attr({
               "d": path,
               "stroke": "#fff",
               "stroke-width":0.5
             });

           d3.select(".plot").call(
             d3.behavior
               .zoom()
               .scaleExtent([-100, 100])
               .on("zoom", function(){
                 var translate = d3.event.translate;
                 var scale = d3.event.scale;
                 d3.select(".map")
                   .attr("transform", "translate(" + translate + ") scale(" + scale + ")");
               }));
         });
       });
     };
    </script>
  </head>
  <body>
    <div style="background-color:#eee; width:80%; float:left">
      <svg class="plot" style="width:100%;height:100%"></svg>
    </div>
    <div style="width:20%; float:left">
      <div style="margin:10px;">
        <h2>Military cost per GDP: 2011</h2>
        <table style="border:1px #000 solid; width:100%">
          <tr><td>name</td><td clas="country_name">none</td><tr>
            <tr><td>value</td><td clas="value">0</td><tr>
        </table>
      </div>
    </div>
  </body>
</html>
