<html lang="en">
  <head>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <style>
     .axis path{
       stroke: #000;
       stroke-width: 1;
       fill: none;
     }
    </style>
    <script>
     window.onload = function(){
      d3.csv("https://dl.dropboxusercontent.com/u/47978121/hpi.csv", function(error, hpi){
        var data = _.map(hpi, function(row){
          var gdp = row['GDP/capita'].replace(",", "");
          return {'name':row['Country'], 'hpi': parseFloat(row['Happy Planet Index']), 'gdp': parseInt(gdp)};
        });

        // prepare dom node
        plot = d3.select(".plot").append("g").attr("transform", "translate(50,10)");
        plot.append("g").attr("class", "x axis").attr("transform", "translate(0,500)");
        plot.append("g").attr("class", "y axis").attr("transform", "translate(0,0)");
        plot.append("g").attr("class", "field").append("path");

        // scales
        var x = (function(){
          return d3.scale.linear().domain([0, 2]).range([10, 500]);
        })();

        var y = (function(){
          return d3.scale.linear().domain([0, 2]).range([10, 500]);
        })();

        var xAxis = d3.svg.axis().scale(x).orient("bottom");
        var yAxis = d3.svg.axis().scale(y).orient("left");

        plot.select(".x.axis").call(xAxis);
        plot.select(".y.axis").call(yAxis);

      });
     };
    </script>
  </head>
  <body>
    <div style="width:100%; height:100%">
      <svg class="plot" style="width:100%; height:100%"></svg>
    </div>
  </body>
</html>
